ESTOQUEI_BASE_URL=http://localhost:3333
ESTOQUEI_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJicnVuby1kZXYiLCJpYXQiOjE3NzUyNTA4NTF9.FxlF7rPDWO-RlqASKJxuo4Gv8erpxCnHDe934gelGQQ
ESTOQUEI_PRODUCT_ID=00000000-0000-0000-0000-000000000001
